---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        <div class="footer-content">
          {% include footer/custom.html %}
          {% include footer.html %}
        </div>
        <div class="footer-right" style="width: 150px; height: 150px; overflow: hidden;">
          <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=CuRtMxtyH1fZQ8d1AqYyK-niDayfvdqj732Vo9knMIc"></script>
        </div>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
